name: Dendron

on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    # Retain Node modules across builds
    - name: Restore Node modules cache
      uses: actions/cache@v2
      id: node-modules-cache
      with:
        path: |
          node_modules
          .next
        key: node-modules-${{ hashFiles('yarn.lock')}}

    - name: Install npm dependencies
      run: yarn

    - name: Initialize or pull nextjs template
      run: "(test -d .next) && (echo 'updating dendron next...' && cd .next && git reset --hard && git clean -f && git pull) || (echo 'init dendron next' && npx dendron publish init)"

    - name: Install dependencies
      run: cd .next && yarn && cd ..

    - name: Export notes
      run: npx dendron publish build

    - name: Prep notes for publish
      run: cd .next && yarn export && cd ..

    - name: Remove docs if exist
      run: '(test -d docs && rm -rf docs) || echo skipping'

    - name: Update Notes
      run: |
        cd .next && mv out ../docs && touch ../docs/.nojekyll && cd ..

    - name: Deploy site
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: pages
        publish_dir: docs/
        force_orphan: true
